

.logoutButton {
    width: 32vh;
    background-color: #495057;
    color: #e9ecef;
    font-weight: 'bold';
    align-items: center;

}

.logoutButton:hover {
    background-color: #343a40;
}


.registerButton {

    width: 32vh;
    background-color: #495057;
    color: #e9ecef;
    font-weight: 'bold';
    align-items: center;

    margin-top: 30px;
}

.registerButton:hover {
    background-color: #343a40;
}

.groupButton {

    display: grid;
    row-gap: 82vh;
}


.drawerbox {
    text-align: center;
    padding : 20px;    
}

.drawerdesign {
    background-color: #bde0fe;
    height: 100%;
}