

.drawerTitle {

    font-weight: bold;

}


.drawerdesign {

    background-color: #2C74B3;

}

.drawerbox {
    text-align: center;
    padding : 20px;
  
}


/* Buttons */


.groupButton {

    display: grid;
    row-gap: 20px;
    
}

.logoutButton {
    width: 24vh;
    background-color: #393E46;
    color: #e9ecef;
    font-weight: 'bold';
    align-items: center;

   margin-top: 70vh;

}

.logoutButton:hover {
    background-color: #343a40;
}


.registerButton {

    width: 24vh;
    background-color: #393E46;
    color: #e9ecef;
    font-weight: 'bold';
    align-items: center;

    margin-top: 30px;
}

.registerButton:hover {
    background-color: #343a40;
}


.printButton {

    width: 24vh;
    background-color: #393E46;
    color: #e9ecef;
    font-weight: 'bold';
    align-items: center;

}

.printButton:hover {

    background-color: #343a40;

}




