:root {

  /* Shadess of Red */

  --red-shade-1: #CC444B;
  --red-shade-2: #DA5552;
  --red-shade-3: #DF7373;
  --red-shade-4: #E39695;
  --red-shade-5: #E4B1AB;
  
  /* Shades of Blue */

  --blue-shade-1: #03045eff;
  --blue-shade-2: #023e8aff;
  --blue-shade-3: #0077b6ff;
  --blue-shade-4: #0096c7ff;
  --blue-shade-5: #00b4d8ff;
  --blue-shade-6: #48cae4ff;
  --blue-shade-7: #90e0efff;
  --blue-shade-8: #ade8f4ff;
  --blue-shade-9: #caf0f8ff;

  --primary-blue-color: #2C74B3;

  /* Button color shades */

--button-shade-1: #453a3bff;
--button-shade-2: #372e2fff;
--button-shade-3: #211c1cff;
--button-shade-4: #573334ff;
--button-shade-5: #673d3eff;
--button-shade-6: #784748ff;
--button-shade-7: #875152ff;
--button-shade-8: #d4b9b9ff;
--button-shade-9: #dec9c9ff;
--button-shade-10: #e6e1e1ff;

--primary-button-color: #393E46;
--primary-button-color-hover: #372e2fff;


--success-button-color: #f9dc5c;
--error-button-color: #a31621;

--text-color: #e9ecef;
}


body {
  margin: 0;
  padding: 0;
  background-color: var(--red-shade-3);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}