:root {

  /* Shadess of Red */

  --red-shade-1: #CC444B;
  --red-shade-2: #DA5552;
  --red-shade-3: #DF7373;
  --red-shade-4: #E39695;
  --red-shade-5: #E4B1AB;
  
  /* Shades of Blue */


}


body {
  background-color: var(--red-shade-3);
}