

.centerscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 99vh;

    border-radius: 24px;    
  }

.mainbox {

    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 500px;
    
    grid-template-areas: 
    "left-side right-side";

}

.gridchild1 {
    background-color: var(--blue-shade-4);
    grid-area: left-side;
}

.gridchild2 {
    
    grid-area: right-side;
    align-content: center;

}

.titledesign {

    font-weight: bold;

    margin-top: 30px;
    margin-bottom: 10px;    
}

.subdesign {
    margin-top: 10px;
    margin-bottom: 20px;
}

.paperdesign {
    
    height: 500px;
    width: 100vh;
} 


.iconstyle {
    font-size: 35px;
    margin-right: 10px;
    text-align: center;

}

.fieldDesign {
    margin-bottom: 25px;
}


.buttonstyle {
    width: 32vh;
    background-color: #495057;
    color: #e9ecef;
    font-weight: 'bold';
    align-items: center;

    margin-top: 30px;
}

.buttonstyle:hover {
    background-color: #343a40;
}


.bold {
    font-weight: bold;
}

.imageDesign {

    margin-top: 25%;
}