.centerscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}


.paperdesign {

    height: 500px;

}


.gridParent {

    padding: 40px;

    height: 350px;
    width: 70em;

    display: grid;
    grid-template-rows: 80px;
}


.titleDesign {

    font-weight: bold;
}

.gridTitle {
    margin-bottom: -10px;
}

.gridChild1 {
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
}


.gridChild1_TextField {
    width: 300px;
}

.gridChild2 {

    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;

}

.gridChild3_Numberfields {

    width: 250px;

}

.gridChild3 {

    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;


}


.gridChild3_address {

    width: 470px;
}

.gridChild4 {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
}

.gridChil4_buttonStyle {
    width: 24vh;
    height: 40px;

    background-color: #495057;
    color: #e9ecef;
    font-weight: 'bold';
    align-items: center;
}

.gridChil4_buttonStyle:hover {

    background-color: #343a40;
    
}


.dropdownDesign {

    width: 200px;

}