.centerscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;

}


.paperdesign {

    height: 500px;
    padding: 40px;


}

.titleDesign {

    font-weight: bold;
    margin-top: 40px;
}


.gridParent {
    width: 145vh;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    padding: 40px;

    column-gap: 40px;
}


/* Grid Child 1 */


.gridchild_text {
    display: flex;
    justify-content: flex-start;

   font-weight: bold;

   margin-bottom: 5px;
   margin-top: 5px;
}


.gridChild1_TextField {
    width: 250px;
}


/* Grid Child 2 */

.dropdownDesign {

    width: 200px;
    margin-right: 20px;

}

.birthdatebox {
    width: 200px;
    margin-right: 20px;
}


/* Grid Child 3 */

.uploadbox{
    display: flex;
    flex-direction: row;
    column-gap: 25px;
}


.uploadbtn {
    width: 160px;

    background-color: var(--primary-button-color);
}

.uploadbtn:hover {
    background-color: var(--primary-button-color-hover);
}



/* Grid Child 5 */

.addressfield {
    margin-right: 20px;

    width: 250px
}

.postalfield {
    margin-right: 50px;
}


.uploadbtn, .registerbtn, .cancelbtn{
    font-weight: bold;
    color: #e9ecef;

}

.registerbtn {

    width: 300px;
    height: 40px;
    background-color: var(--primary-button-color);
    
}

.cancelbtn {

    width: 300px;
    height: 40px;

    color: var(--error-button-color);
}

.registerbtn:hover {
    background-color: var(--primary-button-color-hover);
}

.registerbtn:active{
    background-color: var(--success-button-color);
    color: var(--button-shade-1)
}

.registerbox {
    display: flex;
    justify-content:space-between;
}  




