.tabledesign {

    height: 85vh;
    width: 140vh;
    
    margin-top: 5vh;
    margin-left: 340px;

}

.tableheadDesign {

    font-weight: bold;

}

.avatarDesign {

    height: 75px;
    width: 75px;
}