
.mainbox {

    display: flex;
    flex-direction: column;
    row-gap: 40px;

}

.tabledesign {

    height: auto;
    width: auto;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

}

.tableheadDesign {

    font-weight: bold;

}

.avatarDesign {

    height: 75px;
    width: 75px;
}

.searchbox {

    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.searchbar {

    width: 20vh;
    
}

.searchicon {

    font-size: 30px;
    margin-right: 5px;
    margin-top: 10px;


}

.actionbuttons {

    font-size: 20px;
}